.vs-commits-compact-list {
    margin: 0px 20px;
    padding: 15px;
    border-top: 2px solid #e6e6e6;
    
    max-height: 205px;
    overflow-y: auto;
    margin-bottom: 10px;

    .vc-pullrequest-review-view > & {
        margin: 0;
        border-top: none;
        border-bottom: 1px solid #c8c8c8;
        padding: 10px 15px;
    }
}

.vc-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: text-bottom;
}

.vs-commits-compact-list--header {
    margin-bottom: 5px;
    color: #666;
}

.vs-commits-compact-list--element {
    padding: 3px;
    position: relative;
    &:hover {
        background: #f6f6f6;
    }
}

.vs-commits-compact-list--comment {
    margin-left: 5px;
    width: calc(100% - 300px);
}

.vs-commit-message-expander {
    padding: 3px;
    margin: 2px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.vs-commits-compact-list--commit-id {
    vertical-align: top;
    margin-top: 2px;
    margin-left: 5px;
    width: 45px;
    color: #bbb;
    display: inline-block;
    font-family: Consolas, Monaco, 'Ubuntu Mono', monospace;
    &:visited {
        color: #999;
    }
    &:hover {
        color: #6d6d6d;
    }
}

.vs-commits-compact-list--author {
    position: absolute;
    right: 140px;
    color: #000;
    max-width: 115px;
}

.vs-commits-compact-list--date {
    position: absolute;
    right: 10px;
    color: #6d6d6d;
}

/* 
pivot-view > [title^="Commits"] {
     display: none;
} // TODO: enable when expanded commits will contain full message
*/