.header-post11 ~ .content-section {
  top: 91px;
  display: block;
}

.ext.vc-pullrequest-results-table {
    font-size: 12px;

    .vc-pullrequest-entry-subtle {
        margin-top: 1px;
    }

    .vc-pullrequest-rollupstatus {
        margin-left: 10px;

        > .vc-pullrequest-rollupstatus-failure-text {
            margin-left: 3px;
        }
    }

    .vc-pullrequest-results-row:not(.allowed) {
        display: none;
    }

    .vc-pullrequest-entry-col-reviewers {
        width: 180px;
    }
    
    .vc-pr-reviewer-preview-container {
        margin-right: 5px;
    }
}

.all-pr__repository {
    color: #fff;
    max-width: 200px;
    background: #7e97ad;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    padding: 0 5px 2px;
    font-size: 12px;
    vertical-align: -4px;
    margin-right: 3px;
}

/* Styles for New TFS */

.all-pr-tab-li {
    display: inline-block;
    
    > a {
        color: #333;
        height: 40px;
        line-height: 34px;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
        max-width: 250px;
        padding: 3px 6px 3px 6px;
        margin: 0;
        vertical-align: middle;
    }
}

button.btn-cta.action-button.disabled-merge-button:disabled {
    background-color: #f44336;
    border: 1px solid #ff5722;
     
    &,
    > i {
        color: #fff;
    }
}