
.vs-pullrequest-expand-details {
    margin-right: 5px;
}

.vc-pullrequest-details--commits-list {
    border: 1px solid #e6e6e6;
    background: #fff;
    padding: 10px;
    max-width: 1000px;
}

.vs-pullrequest-details--commit-line {
    padding: 4px 4px 4px 25px;
    position: relative;
    
    &:hover {
        background: #f6f6f6;
    }
}

.vc-pullrequest-details > td {
    padding: 15px 15px 15px 90px;
    background: #f6f6f6;
    border-top: 2px solid #e6e6e6;
}

.vs-pullrequest-details--commit-comment {
    margin-left: 5px;
}

.vs-pullrequest-details--commit-id {
    margin-left: 5px;
    width: 45px;
    display: inline-block;
    color: #bbb;
    font-family: Consolas, Monaco, 'Ubuntu Mono', monospace;

    .vs-pullrequest-details--commit-line:hover & {
        color: #6d6d6d;

        &:after {
            color: #3a6a89;
        }
    }
    
    &:before,
    &:after {
        position: absolute;
        line-height: 15px;
        height: 20px;
        top: 1px;
        padding-top: 4px;
    }

    &:before {
        content: '';
        color: #ccc;
        border-left: 2px dashed #bbb;
        left: 12px;
    }
    
    &:after {
        content: '◉';
        color: #6a9ab9;
        left: 8px;
    }
}

.vs-pullrequest-details--commit-author {
    position: absolute;
    right: 140px;
    color: #000;
}

.vs-pullrequest-details--commit-date {
    position: absolute;
    right: 10px;
    color: #6d6d6d;
}
