doctype html
head
    link(rel='stylesheet', href='libs.css')
    link(rel='stylesheet', href='styles.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500', rel='stylesheet', type='text/css')
body
    img.bg(src='../images/popup-300x90.png')
    a.beta(href='https://gitlab.com/jsek-chrome/tfs-all-my-pull-requests', target='_blank') Beta

    .popup.configured
        .stats
            .stats-header Active pull requests
            .open-active-pr.stats-line
                span.stats-label Assigned to me
                span.stats-value.assigned-pr-counter
            .open-active-pr.stats-line
                span.stats-label Created by me
                span.stats-value.created-pr-counter

    .popup.not-configured.hidden
        p Extension not configured yet
        br
        
        button.open-options.waves-effect.waves-light.btn.btn-flat.button-right(title='Go to Options') Options

    .popup.not-logged-in.hidden
        p You need to be logged in to TFS
        br
        
        button.open-tfs.waves-effect.waves-light.btn.btn-flat.button-right(title='Go to TFS') Log In

    script(src='libs.js')
    script(src='scripts.js')
