.vs-commits-compact-list(class=model.visible ? '' : 'hidden')
    .vs-commits-compact-list--header= 'Commits (' + model.commits.length + ')' 
    each commit in model.commits
        .vs-commits-compact-list--element
            a.vs-commits-compact-list--commit-id(href=Utils.relativeUrl(commit.url))= commit.commitId.slice(0,6) + ' '
            span.vs-commits-compact-list--comment.vc-ellipsis(title=commit.comment)
                each chunk in commit.message.chunks
                    if (chunk.isLink)
                        a.vs-commits-compact-list--link(href=chunk.url target='_blank' rel='noopener')= chunk.text
                    else
                        span= chunk.text
                if (commit.message.hasBody)
                    span.vs-commit-message-expander ...
                    span.hidden !{commit.message.bodyHTML}
            a.vs-commits-compact-list--author.vc-ellipsis(href='mailto:' + commit.committer.email)= commit.committer.name
            span.vs-commits-compact-list--date= Utils.relativeDate(commit.committer.date)
