doctype html
head
    title TFS - PR Police | Options
    link(rel='stylesheet', href='libs.css')
    link(rel='stylesheet', href='styles.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400', rel='stylesheet', type='text/css')
body(ng-app='options')
    options-page

    script(src='libs.js')
    script(src='templates.js')
    script(src='scripts.js')
