td.vc-pullrequest-entry-col-primary
    .vc-pullrequest-entry-user-image
        a.vs-pullrequest-expand-details(href='#')
            span.bowtie-icon.bowtie-chevron-right
        img.identity-picture.vc-pr(class='identity-' + model.createdBy.id, src=model.createdBy.imageUrl)
    .vc-pullrequest-ellide-overflow
        a.vc-pullrequest-entry-title(href=model.url, title=model.title)
            span= model.title
        if model.conflicts
            span.vc-pullrequest-rollupstatus
                span.vc-pullrequest-rollupstatus-icon.bowtie-icon.bowtie-status-failure.vc-pullrequest-rollupstatus-failure
                span.vc-pullrequest-rollupstatus-failure-text Merge conflicts
    .vc-pullrequest-entry-subtle.vc-pullrequest-ellide-overflow
        span.all-pr__repository= model.repoName
        span= model.createdBy.displayName + ' requested #' + model.id + ', created ' + model.created
td.vc-pullrequest-entry-col-branches
    .vc-pullrequest-ellide-overflow
        span.bowtie-icon.bowtie-tfvc-branch.vc-pullrequest-branch-icon
        |  #[a.vc-pullrequest-entry-branch(href=model.from.url, title=model.from.title): span= model.from.title]
        span.vc-pullrequest-entry-subtle  into
    .vc-pullrequest-ellide-overflow
        span.bowtie-icon.bowtie-tfvc-branch.vc-pullrequest-branch-icon
        |  #[a.vc-pullrequest-entry-branch(href=model.to.url, title=model.to.title): span= model.to.title]
td.vc-pullrequest-entry-col-reviewers
    .vc-pullrequest-entry-reviewers
        each reviewer in model.reviewers
            span.vc-pr-reviewer-preview-container
                img.identity-picture.vc-pr-reviewer-image(src=reviewer.imageUrl, alt=reviewer.displayName, title=reviewer.displayName)
                if reviewer.vote === 10 || reviewer.vote === 5 
                    span.bowtie-icon.bowtie-status-success.vote-overlay
                else if reviewer.vote === -10
                    span.bowtie-icon.bowtie-status-failure.vote-overlay
                else if reviewer.vote === -5 
                    span.bowtie-icon.bowtie-math-minus-circle.vote-overlay
                    
td.vc-pullrequest-entry-col-commentcount.vc-pullrequest-ellide-overflow
    if model.commentsCount
        span.bowtie-icon.bowtie-comment-discussion.vc-pullrequest-comment-icon
        span.vc-comment-counter= model.commentsCount