tr.vc-pullrequest-details
    td(colspan=4)
        .vc-pullrequest-details--commits-list
            each commit in model.commits
                .vs-pullrequest-details--commit-line
                    span.vs-pullrequest-details--commit-id= commit.commitId.slice(0,6) + ' '
                    a.vs-pullrequest-details--commit-comment(href=Utils.relativeUrl(commit.url))= commit.comment.split('\n')[0]
                    if (commit.comment.split('\n')[1])
                        | ...
                    a.vs-pullrequest-details--commit-author(href='mailto:' + commit.committer.email)= commit.committer.name
                    span.vs-pullrequest-details--commit-date= Utils.relativeDate(commit.committer.date)
