form(action='#')
    p(ng-repeat='f in $ctrl.ngModel')
        input.feature-toggle(id='ft-{{$index}}', type='checkbox', ng-model='f.Enabled', ng-disabled='!f.Available')
        label(for='ft-{{$index}}') {{ f.Title }}