.page-container.center-align.loading-page(ng-if='!$ctrl.Loaded')
    .preloader-wrapper.active
        .spinner-layer
            .circle-clipper.left: .circle
            .gap-patch: .circle
            .circle-clipper.right: .circle

.page-container.fading(ng-show='$ctrl.Loaded')
    ul.collapsible(data-collapsible='expandable')
        li
            .collapsible-header.active
                i.mdi.mdi-pencil
                | Configuration
            .collapsible-body
                form.center-align(action='#')

                    .row
                        .input-field.col.s9
                            label.left-align(for='opt-1') Team Foundation Server Address
                            input#opt-1.validate(type='url', ng-model='$ctrl.Model.TFS.URL', ng-change='$ctrl.onTfsUrlUpdated()')
                            .side-note(ng-if='$ctrl.Status.TFS.Checking')
                                i.mdi.mdi-crosshairs-gps.status-icon.warning.mdi-spinner
                            .side-note(ng-if='$ctrl.Status.TFS.Reachable')
                                i.mdi.mdi-checkbox-marked-circle-outline.success.status-icon
                                span(ng-if='$ctrl.Status.TFS.RepositoriesCount == 1') 1 Repository
                                span(ng-if='$ctrl.Status.TFS.RepositoriesCount > 1') {{ $ctrl.Status.TFS.RepositoriesCount }} Repositories
                            .hint(ng-if='!$ctrl.Model.TFS.URL && $ctrl.Hints.TFS')
                                | Suggestion:
                                .hint-link(ng-click='$ctrl.onTfsHintClick()') {{ $ctrl.Hints.TFS }}

                    .row.fading(ng-show='$ctrl.Toggles.TeamCity.Enabled')
                        .input-field.col.s9
                            label.left-align(for='opt-2') TeamCity Address
                            input#opt-2.validate(type='url', ng-model='$ctrl.Model.TeamCity.URL', ng-change='$ctrl.onTeamCityUrlUpdated()')
                            .side-note(ng-if='$ctrl.Status.TeamCity.Checking')
                                i.mdi.mdi-crosshairs-gps.status-icon.warning.mdi-spinner
                            .side-note(ng-if='$ctrl.Status.TeamCity.Reachable')
                                i.mdi.mdi-checkbox-marked-circle-outline.success.status-icon
                                span(ng-if='$ctrl.Cache.Store.BuildTypes.length == 1') 1 Build Configuration
                                span(ng-if='$ctrl.Cache.Store.BuildTypes.length > 1') {{ $ctrl.Cache.Store.BuildTypes.length }} Build Configurations
                            .hint(ng-if='!$ctrl.Model.TeamCity.URL && $ctrl.Hints.TeamCity')
                                | Suggestion:
                                .hint-link(ng-click='$ctrl.onTeamCityHintClick()') {{ $ctrl.Hints.TeamCity }}

                    .row.fading.tc-repositories-mapping(ng-if='$ctrl.Toggles.TeamCity.Enabled && $ctrl.Status.TeamCity.Reachable')

                        table.mapping-table
                            tr
                                th Repository
                                th Build Configuration ID
                                th: // actions

                            tr(ng-repeat='mapping in $ctrl.Model.TeamCity.BuildConfigurationsMapping track by $index')
                                td: auto-complete(model='mapping.Repository', func='$ctrl.getCachedRepositories', property='name')
                                td: auto-complete(model='mapping.BuildType', func='$ctrl.getCachedBuildTypes', property='id')
                                td
                                    button.waves-effect.waves-light.red.darken-1.btn.btn-inline(ng-click='$ctrl.RemoveBuildConfigurationsMapping($event, mapping)')
                                        i.mdi.mdi-close
                            
                            tr
                                td
                                td
                                td
                                    button.waves-effect.waves-light.light-green.darken-1.btn.btn-inline(ng-click='$ctrl.AddBuildConfigurationsMapping($event)')
                                        i.mdi.mdi-plus

        li(ng-show='$ctrl.FullFormVisible')
            .collapsible-header.active
                i.mdi.mdi-marker-check
                | Custom Policies

            .collapsible-body
                form(action='#')
                    p.fading(ng-repeat='f in $ctrl.Policies')
                        input.feature-toggle(id='pc-{{$index}}', type='checkbox', ng-model='f.Enabled', ng-disabled='!f.Available')
                        label(for='pc-{{$index}}') {{ f.Title }}
                        br
                        small {{ f.Description }}

        li(ng-show='$ctrl.FullFormVisible')
            .collapsible-header
                i.mdi.mdi-flask
                | Experimental features

            .collapsible-body
                experimental-features(ng-model='$ctrl.ExperimentalFeatures', ng-change='$ctrl.updatePoliciesVisibility()')

    .center-align
        button.save-options.waves-effect.waves-light.light-blue.darken-1.btn(ng-click='$ctrl.Save()') Save
