div.teamcity-build-custom-policy
    .vc-pullrequest-leftpane-section-subhead TeamCity

    if (model.error)
        ul.vc-pullrequest-merge-policy-status-list
            li.vc-pullrequest-merge-policy-status-item
                i.bowtie-icon.bowtie-status-no-fill
                | Error: #{model.error.message}

    else if (model.info === undefined && model.configured === undefined)
        ul.vc-pullrequest-merge-policy-status-list
            li.vc-pullrequest-merge-policy-status-item
                i.bowtie-icon.bowtie-build
                | Loading...
                //- .action-icon(title='More actions')
                //-     .popup-menu-trigger.icon.bowtie-icon.bowtie-ellipsis(tabindex='0', role='button')
                //-          Queue build | Force on top | Log preview

    else if (model.configured === false)
        ul.vc-pullrequest-merge-policy-status-list
            li.vc-pullrequest-merge-policy-status-item
                i.bowtie-icon.bowtie-status-help-outline
                a.ext-open-options(target='_blank', href='#') Not configured

    else if (model.count === 0)
        if (model.active)
            ul.vc-pullrequest-merge-policy-status-list
                li.vc-pullrequest-merge-policy-status-item
                    i.bowtie-icon.bowtie-status-waiting
                    | Waiting for first build
        else
            ul.vc-pullrequest-merge-policy-status-list
                li.vc-pullrequest-merge-policy-status-item
                    i.bowtie-icon.bowtie-build-issue
                    | No builds found

    else if (model.info)
        ul.vc-pullrequest-merge-policy-status-list
            li.vc-pullrequest-merge-policy-status-item
                if (model.info.state === 'finished')
                    if (model.info.status === 'SUCCESS')
                        i.icon.bowtie-icon.bowtie-check
                        a(target='_blank', href=model.url) Build succeeded
                    else if (model.info.status === 'FAILURE')
                        i.bowtie-icon.bowtie-math-multiply
                        a(target='_blank', href=model.url) Build failed
                    else
                        span.icon.bowtie-icon.bowtie-status-warning

                if (model.info.state === 'queued')
                    i.icon.icon-tfs-build-reason-schedule
                    a(target='_blank', href=model.url) Queued

                if (model.info.state === 'running')
                    if (model.info.status === 'SUCCESS')
                        i.bowtie-icon.bowtie-status-run
                    else if (model.info.status === 'FAILURE')
                        i.bowtie-icon.bowtie-status-error-outline
                    a(target='_blank', href=model.url) In progress