.page-container {
    width: 700px;
    margin: 120px auto 0;
    font-size: 1rem;
}

body {
    font-family: 'Roboto Medium', 'Segoe UI', sans-serif;
}

.collapsible-body {
    padding: 0;
    form {
        padding: 10px;
        background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
        p {
            margin: 10px;
            padding: 0 1rem;
            &.p0 {
                padding: 0;
            }
        }
    }
}

.collapsible-header i {
    margin-right: .6rem;
}

.collapsible-header {
    position: relative;
    overflow: hidden;
}

.section-switch {
    position: absolute;
    top: -2px;
    right: 0;
}

form.center-align>.row {
    width: 90%;
    margin: 0 auto;
    >label {
        display: block;
    }
}

.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    min-height: 30px;
    line-height: 1.5rem;
    >img {
        width: 22px;
        height: 22px;
    }
    >span {
        padding: 5px 16px;
    }
}

.collapsible-body form .collection .collection-item {
    background-color: transparent;
}

[type="checkbox"]:not([disabled])+label {
    color: inherit;
}

.sm[type="checkbox"].filled-in+label {
    height: 20px;
    line-height: 18px;
    padding-left: 25px;
    &:before {
        width: 7px;
        height: 12px;
    }
    &:after {
        width: 18px;
        height: 18px;
    }
}

[enabled-by],
[class*='waiting-'] {
    display: none;
}

.p0 {
    padding: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    &.flex-b6>* {
        flex-basis: 16.666667%;
    }
}

.autocomplete-content li .highlight {
    color: #03A9F4;
}

.mapping-table {
    td,
    th {
        padding: 0 10px;
    }
    tr:nth-child(2) td {
        padding-top: 10px;
    }
    th {
        box-shadow: 0 2px 5px #999;
        background: #607D8B;
        color: #fff;
        font-weight: normal;
        height: 2.5em;

        &:first-child { border-radius: 2px 0 0 2px; }
        &:last-child  { border-radius: 0 2px 2px 0; }
    }
    input {
        height: 1.5em;
        margin: 0 0 5px 0;
    }
    auto-complete {
        .row {
            margin-bottom: 0;
        }
        .input-field {
            margin-top: 0;
            position: relative;
            >.autocomplete-content {
                position: absolute;
                top: 1.6em;
                margin-top: 0;
            }
        }
    }
}

.fading {
    &.ng-enter,
    &.ng-leave,
    &.ng-hide-add,
    &.ng-hide-remove {
        transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    }
    &.ng-hide,
    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity: 0;
    }
    &,
    &.ng-leave,
    &.ng-enter.ng-enter-active {
        opacity: 1;
    }
}

input + .side-note {
    position: absolute;
    top: 1.5em;
    right: .25rem;
    font-size: .8em;
    color: #aaa;
    margin-right: -200px;
    text-align: left;
    width: 200px;

    .status-icon {
        position: absolute;
        top: -.25em;
        left: -1.75em;
        font-size: 1.5em;
    }
}

.mdi, .status-icon {
    &.warning { color: #ff9800; }
    &.success { color: #8BC34A; }
    &.info    { color: #03a9f4; }
    &.danger  { color: #f44336; }
}


@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.mdi-spinner {
    animation: fa-spin 2s infinite linear;
}

.btn-inline {
    height: 1.5em;
    padding: 0 1em;
    line-height: 1.6em;
}

.hint {
    text-align: left;
    font-size: .8em;
    margin: -15px 0 10px;

    > .hint-link {
        display: inline;
        margin-left: 5px;
        color: #039be5;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}